:root {
    /* ===== Colors ===== */
    --body-color: #e2e8f0; 
    --content-color: #f9fafb;
    --sidebar-color: #0f172a;
    --header-color: #f9fafb;
    --primary-color: #3b82f6;
    --secondary-color: #10b981;
    --text-color: #64748b;
    --hr-color: #d1d5db;

    --white-color: white;
    --black-color: #020617;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    background-color: var(--body-color);

    display: grid;
    grid-template-columns: 13rem 1fr;
    grid-template-rows: 8rem 1fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main-content";
}


/* ----- Header Styles ----- */
.header {
    background-color: var(--header-color);
    margin: 1rem;
    border-radius: 10px;

    grid-area: header;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-top {
    padding: 2rem;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "search buttons account";
    gap: 2rem;
}

.header-svg {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;

    transition: transform 0.2s;
}

.header-svg:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.header-svg:focus {
    color: var(--secondary-color);
}

.searchbar-container {
    grid-area: search;

    display: flex;
    flex-direction: row;
}

.searchbar-container > label{
    display: flex;
    align-items: center;
}

.searchbar {
    padding-left: 0.5rem;
    height: 2.25rem;
    border: none;
    border-radius: 10rem;
    background-color: var(--body-color);
    flex-grow: 1;
}

.account-info {
    grid-area: account;
    justify-self: right;

    display: flex;
    align-items: center;
}

.account-info > svg {
    padding-right: 2rem;
}

.account-info > svg:hover {
    padding-right: 2rem;
    color: var(--primary-color);
}

.account-info > div {
    padding-left: 0.5rem;
}

.account-pic {
    height: 2.5rem;
    width: 2.5rem;

    border-radius: 10rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.account-pic:hover {
    transform: scale(1.05);
}

/* .header-bottom {
    padding: 0 2rem 0 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
} 

.welcome {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.welcome-img-placeholder {
    height: 4.5rem;
    width: 4.5rem;

    border-radius: 10rem;
    cursor: pointer;
}   

.welcome-message {
    font-size: 1rem;
}

.welcome-message > .welcome-username {
    font-size: 1.4rem;
    font-weight: bold;
} */

.header-buttons {
    grid-area: buttons;
    justify-self: center;

    display: flex;
    gap: 1rem;
}

.header-buttons > .header-button-1,
.header-buttons > .header-button-2,
.header-buttons > .header-button-3 {
    height: 2.25rem;
    width: 6rem;

    font-size: 0.9rem;
    font-weight: bold;

    border: none;
    border-radius: 10rem;

    color: var(--white-color);
    background-color: var(--primary-color);
    transition: transform 0.2s;
}

.header-buttons > .header-button-1:hover,
.header-buttons > .header-button-2:hover,
.header-buttons > .header-button-3:hover {
    height: 2.25rem;
    width: 6rem;

    font-size: 0.9rem;
    font-weight: bold;

    border: none;
    border-radius: 10rem;

    color: var(--black-color);
    background-color: var(--primary-color);
    cursor: pointer;
    transform: scale(1.05);
}


/* ----- Sidebar Styles ----- */
.sidebar {
    background-color: var(--sidebar-color);

    grid-area: sidebar;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr;
    grid-template-areas: 
    "side-logo"
    "side-content";
}

.sidebar-logo {
    grid-area: side-logo;

    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1rem;

    color: var(--content-color);

    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-content {
    grid-area: side-content;
    padding: 2rem;

    font-size: 1.1rem;

    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.sidebar-top,
.sidebar-bottom {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.sidebar-link-container {
    height: 1.5rem;
    color: var(--white-color);
    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 0.75rem;
    transition: transform 0.2s;
}

.sidebar-svg {
    height: 1.3rem;
    width: 1.3rem;
    transition: transform 0.2s;
}

.sidebar-link-container:hover {
    color: var(--secondary-color);

    font-weight: bolder;
    transform: scale(1.025);
}

.sidebar-link-container:hover .sidebar-svg {
    transform: scale(1.05);
}


/* ----- Content Styles ----- */

.main-content {
    background-color: var(--body-color);
    
    grid-area: main-content;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    gap: 1rem;
}

.content-heading-projects {
    margin: 0;
    padding: 1rem;
    padding-bottom: 1rem;

    font-size: 1.1rem;
    font-weight: bold;
}

.content-heading-announcements {
    margin: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;

    font-size: 1.1rem;
    font-weight: bold;
}

.content-heading-trending {
    margin: 0;
    padding-bottom: 0;

    font-size: 1.1rem;
    font-weight: bold;
}

.projects {
    grid-area: projects;
    border-radius: 1rem;
}

.project-cards-container {
    overflow: scroll;
    max-height: 75vh;
}
 /*----- Hide Project-Scrollbar -----*/
.project-cards-container::-webkit-scrollbar {
    width: 0;
}
.project-cards-container::-webkit-scrollbar-thumb {
    background: transparent;
}
.project-cards-container::-webkit-scrollbar-track {
    background: transparent;
}


.project-cards {
    padding: 1rem;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    "c1 c2"
    "c3 c4"
    "c5 c6";
    gap: 1rem;
}

.projects-c1 {
    grid-area: c1;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--content-color);
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
    min-height: 10rem;
}
.projects-c2 {
    grid-area: c2;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--content-color);
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
}
.projects-c3 {
    grid-area: c3;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--content-color);
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
}
.projects-c4 {
    grid-area: c4;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--content-color);
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
}
.projects-c5 {
    grid-area: c5;
    padding: 1rem;
    border-radius: 10px;
    background-color: var(--content-color);
    gap: 0.2rem;

    display: flex;
    flex-direction: column;
}
.projects-c6 {
    grid-area: c6;
    padding: 1rem;
    border-radius: 10px;
    gap: 0.2rem;
    background-color: var(--content-color);

    display: flex;
    flex-direction: column;
}
.card-preview-img {
    height: 5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    object-fit: cover;
}

.card-text-heading {
    font-weight: bold;
    columns: var(--black-color);
}

.card-text-content {
    flex-grow: 1;
    
    color: var(--text-color);
    font-size: 0.9rem;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.card-icons > svg {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.card-icons > svg:hover {
    transform: scale(1.2);
}


.announcements {
    grid-area: announcements;
}

.announcement-content {
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;

    border-radius: 10px;

    background-color: var(--content-color);
    align-items: center;
}

.hr-announcement{
    height: 1.5px;
    width: 85%; 

    border: none;
    border-radius: 5rem;
    background-color: var(--hr-color);
}

.announcement-1,
.announcement-2,
.announcement-3 {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: 80%;
    font-size: 0.7rem;
    color: var(--text-color);
}


.announcement-1 > .announcement-heading,
.announcement-2 > .announcement-heading,
.announcement-3 > .announcement-heading{
    font-size: 0.9rem; 
    font-weight: bolder;
    color: var(--black-color);
}

.announcement-1 > a,
.announcement-2 > a,
.announcement-3 > a{
    color: var(--text-color);
}


.trending {
    grid-area: trending;
}

.trending-content {
    padding: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;

    border-radius: 10px;
    background-color: var(--content-color);
    
    font-size: 0.8rem;
}

.trending-1,
.trending-2,
.trending-3,
.trending-4 {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: transform 0.2s;
}

.trending-1:hover,
.trending-2:hover,
.trending-3:hover,
.trending-4:hover {
    transform: scale(1.025);
}

.trending-account-pic {
    height: 2.5rem;
    width: 2.5rem;

    border: 1px solid var(--black-color);
    border-radius: 10rem;
    object-fit: cover;
}

.trending-account-info > .trending-account-name {
    font-weight: bold;
}

.trending-account-info > .trending-account-bio {
    color: var(--text-color);
}